/* .App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5em;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10 em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  text-align: center;
  color: white;
}

#app-container{
  margin-top: 50px;
  width: 100%;
  max-width: 900px;
  position: aboslute;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px black;
}

#app-container-inside{
  width: 200%;
  display: flex;
  position: relative;
  background-color: white;
  left: 0%;
  transition: all 500ms ease-in-out;
} */
body{
  background-image: url("img/Desktop.png");
  /* background-repeat: round; */
}

.card-img-top{
  max-width: 200px;
  margin: auto;
  font-weight: 600;
  align-content: center;
  display: flex;
}

.card{
  width: 16rem;
  align-content: space-between;
  margin: 10px;
}

:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainDark: #000;
  --mainYellow: #ffa400;
  --lightYellow: #FFFFE0;
  --mainBrown : #803519;
  --lightSalmon : #FFA07A;
  --mainMaroon: #800000;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.navbar {
  justify-content: flex-start !important;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlack);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
