.shoppingCart-container{
  width: 250px;
  height: 350px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shoppingCart-bottom h3{
  margin: 0px 10px;
}

.shoppingCart-bottom h2{
  margin-top: 10px;
  border-top: 1px solid black;
}
.checkout-container-inside{
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
}